
python/.DS_Store
python/delPrimeProject/.DS_Store
python/insPrimeProject/.DS_Store
sequencing/template_fastas/.DS_Store
sequencing/.DS_Store
sequencing/.DS_Store
Nanopore_Sequencing/.DS_Store
Nanopore_Sequencing/Templates_Fastas/.DS_Store
.DS_Store
Nanopore_Sequencing/.DS_Store
